###基础配置
system.batchTimeout=3000
system.maxBatchSize=1000

###Leader节点配置
leader.id = 0

###当前节点
local.id = 0

###其他节点配置
node.size = 4

node.0.host = 127.0.0.1
node.0.port.bft = 7000
node.0.port.msg = 8000

node.1.host = 127.0.0.1
node.1.port.bft = 7001
node.1.port.msg = 8001

node.2.host = 127.0.0.1
node.2.port.bft = 7002
node.2.port.msg = 8002

node.3.host = 127.0.0.1
node.3.port.bft = 7003
node.3.port.msg = 8003