###基础配置
system.batchTimeout=3000
system.maxBatchSize=1000

###Leader节点配置
leader.id = 0

###当前节点
local.id = 3

###其他节点配置
node.size = 4

node.0.host = 127.0.0.1
node.0.port.bft = 17000
node.0.port.msg = 18000

node.1.host = 127.0.0.1
node.1.port.bft = 17001
node.1.port.msg = 18001

node.2.host = 127.0.0.1
node.2.port.bft = 17002
node.2.port.msg = 18002

node.3.host = 127.0.0.1
node.3.port.bft = 17003
node.3.port.msg = 18003